<a class="main__boxes-container__grid__link" href="###ASSIGNMENT_URL###" target="_blank">
    <div style="--box-border-color: ###ASSIGNMENT_DEADLINE_INDICATOR_COLOR###" class="main__boxes-container__grid__link__box">
        <div class="main__boxes-container__grid__link__box__heading">
            <div class="main__boxes-container__grid__link__box__heading__link-indicator">
                <svg class="main__boxes-container__grid__link__box__heading__link-indicator__arrow-icon">
                    <use xlink:href="dist/media/sprites/icons.svg#arrow-right" href="dist/media/sprites/icons.svg#arrow-right"></use>
                </svg>
            </div>
            <div class="main__boxes-container__grid__link__box__heading__text">
                ###ASSIGNMENT_TITLE###
            </div>
        </div>
        <div class="main__boxes-container__grid__link__box__course-info">
            <span class="main__boxes-container__grid__link__box__course-info__category-name">
                ###ASSIGNMENT_CATEGORYNAME###
            </span>
            -
            <span class="main__boxes-container__grid__link__box__course-info__course-name">
                ###ASSIGNMENT_COURSENAME###
            </span>
        </div>
        <table class="main__boxes-container__grid__link__box__table">
            <tr>
                <th>DUE:</th>
                <td>###ASSIGNMENT_DUE###</td>
            </tr>
            <tr>
                <th>CUT-OFF:</th>
                <td>###ASSIGNMENT_CUTOFF###</td>
            </tr>
            <tr>
                <th>OPENED:</th>
                <td>###ASSIGNMENT_OPENED###</td>
            </tr>
        </table>
    </div>
</a>
