<!DOCTYPE html>
<html lang="en" translate="no" itemscope="itemscope" itemtype="https://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Moodle Assignments</title>
    <link rel="stylesheet" type="text/css" href="dist/css/main.min.css">
</head>
<body>
<main class="main">
    <section class="main__boxes-container">
        <h1 class="main__boxes-container__heading">Assignments</h1>
        <div class="main__boxes-container__grid">
            ###ASSIGNMENT_BOXES###
        </div>
    </section>
</main>
<!--<script defer src="dist/js/app.min.js" integrity=""></script>-->
</body>
</html>
